<footer>
  <div class="col-12 bottom">
    <div class="container">
      <div class="col-12">
        <div class="row m-0">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="feedback-content">
                    <div class="feedback">
                        <span class="feedback-title">
                            Ask Us Anything!
                        </span>
                    </div>
                    <div class="row m-0 mb-3">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="fullname">Full Name *</label>
                                <input type="text" class="form-control border-dark" id="fullname"
                                    placeholder="Enter Full Name" name="fullname">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control border-dark" id="email" placeholder="Enter email"
                                    name="email">
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 mb-3">
                        <div class="col-2"></div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="msg">Message</label>
                                <textarea class="form-control border-dark" id="msg" name="msg"></textarea>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row m-0 mb-3">
                        <div class="col-2"></div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn sendBtn">Send</button>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="feedback-content">
                    <div class="feedback">
                        <span class="feedback-title">
                            Subscribe for Therapod
                            <br> Updates, Useful Resources, and <br> More!
                        </span>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-outline-dark btn-floating m-1 insta-icon" href="#!" role="button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="row m-0 mb-3">
                        <div class="col-2"></div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control border-dark" id="email" placeholder="Enter email"
                                    name="email">
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row m-0 mb-3">
                        <div class="col-2"></div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn sendBtn">Signup</button>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="mt-2 text-center">
      <span>
        Designed and Run by Therapix
      </span>
    </div>
  </div>
</footer>