<div class="navigation-bar">
    <i class="fa fa-home pointer" (click)="navigateToHome()" aria-hidden="true"></i>
    <span class="m-2 pointer" (click)="navigateToHome()">Home /</span>
    <span class="route-color">Dashboard</span>
</div>
<div class="col-12 body-content">
    <div class="row m-0">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="card mb-3 bg-green">
                <div class="row m-0 h-180">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 align-center">
                    <img src="../../../../assets/images/video.png" height="100px" width="100px" alt="...">
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 align-center">
                    <div class="card-body">
                      <h1 class="card-title">Upload Videos</h1>
                      <span class="card-text">To upload the video</span>
                      <div class="text-center">
                        <img src="../../../../assets/images/right-up.png" height="30px" width="auto" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="card mb-3 bg-red">
                <div class="row m-0 h-180">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 align-center">
                    <img src="../../../../assets/images/invite.png" height="100px" width="100px" alt="...">
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 align-center">
                    <div class="card-body">
                      <h1 class="card-title">Share Invite</h1>
                      <span class="card-text">To share the invite</span>
                      <div class="text-center">
                        <img src="../../../../assets/images/right-up.png" height="30px" width="auto" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="card mb-3 bg-blue">
                <div class="row m-0 h-180">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 align-center">
                    <img src="../../../../assets/images/plan.png" height="100px" width="100px" alt="...">
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 align-center">
                    <div class="card-body">
                      <h1 class="card-title">Subscription Plan</h1>
                      <span class="card-text">To set up subscription plans</span>
                      <div class="text-center">
                        <img src="../../../../assets/images/right-up.png" height="30px" width="auto" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>