<div class="container">
    <div class="col-12">
        <div class="row m-0">
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="content-layout">
                    <span class="home-title">
                        Does your child have additional needs or is struggling?
                    </span>
                    <span class="home-title">
                        We take your journey from this...
                    </span>
                    <div class="">
                        <button type="button" class="btn moreBtn">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <img src="../../../../assets/images/home-banner.PNG" height="100%" width="100%" alt="">
            </div>
        </div>
        <div class="row m-0 flex-direction">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="content-layout">
                    <span class="home-title">
                        ... to this
                    </span>
                    <span class="home-content">
                        Therapix offers short videos with therapy ideas to support your child, making it easy for
                        families and teachers.
                        The approach is neuro-affirming and strengths-based, aimed at reducing stress and confusion.
                    </span>
                    <div class="">
                        <button type="button" class="btn learnBtn">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <img src="../../../../assets/images/home-banner1.PNG" class="pad-85" height="100%" width="100%" alt="">
            </div>
        </div>
    </div>
    <div class="col-12 bottom">
        <div class="row m-0">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="feedback-content">
                    <div class="feedback">
                        <span class="feedback-title">
                            Ask Us Anything!
                        </span>
                    </div>
                    <div class="row m-0 mb-3">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="fullname">Full Name *</label>
                                <input type="text" class="form-control border-dark" id="fullname"
                                    placeholder="Enter Full Name" name="fullname">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control border-dark" id="email" placeholder="Enter email"
                                    name="email">
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 mb-3">
                        <div class="col-2"></div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="msg">Message</label>
                                <textarea class="form-control border-dark" id="msg" name="msg"></textarea>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row m-0 mb-3">
                        <div class="col-2"></div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn sendBtn">Send</button>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="feedback-content">
                    <div class="feedback">
                        <span class="feedback-title">
                            Subscribe for Therapod
                            <br> Updates, Useful Resources, and <br> More!
                        </span>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="row m-0 mb-3">
                        <div class="col-2"></div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control border-dark" id="email" placeholder="Enter email"
                                    name="email">
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row m-0 mb-3">
                        <div class="col-2"></div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn sendBtn">Signup</button>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
