<div class="container">
    <div class="col-12">
        <div class="row m-0">
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="content-layout">
                    <span class="home-title">
                        Does your child have additional needs or is struggling?
                    </span>
                    <span class="home-title">
                        We take your journey from this...
                    </span>
                    <div class="">
                        <button type="button" class="btn moreBtn">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <img src="../../../../assets/images/home-banner.PNG" height="100%" width="100%" alt="">
            </div>
        </div>
        <div class="row m-0 flex-direction">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="content-layout">
                    <span class="home-title">
                        ... to this
                    </span>
                    <span class="home-content">
                        Therapix offers short videos with therapy ideas to support your child, making it easy for
                        families and teachers.
                        The approach is neuro-affirming and strengths-based, aimed at reducing stress and confusion.
                    </span>
                    <div class="">
                        <button type="button" class="btn learnBtn">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <img src="../../../../assets/images/home-banner1.PNG" class="pad-85" height="100%" width="100%" alt="">
            </div>
        </div>
    </div>
</div>