.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .d-flex {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.navbar .navbar-brand img {
  height: 70px;
}

.navbar-expand-lg .navbar-nav {
  width: 80%;
  justify-content: space-evenly;
}

.font-13{
    font-size: 13px !important;
}

.nav-link{
  color: #404040 !important;
  /* font-family: wfont_289b93_a8540441ca6547e9a19659bb168f3fbf, wf_a8540441ca6547e9a19659bb1, orig_hk_grotesk_medium; */
    letter-spacing: 0em;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    transition: inherit;
}

.nav-link:hover {
  border-radius: 20px;
  background: rgba(121, 165, 242, 0.22);
  color: #79A5F2 !important;
}

.callBtn{
  /* font-family: wfont_289b93_a8540441ca6547e9a19659bb168f3fbf, wf_a8540441ca6547e9a19659bb1, orig_hk_grotesk_medium; */
    letter-spacing: 0em;
    margin-left: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    transition: inherit;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 5px;
    border: 0px solid #F1AA98;
    background: #79A5F2 /*-1.29px -1.53px 8px 3px rgba(191, 191, 191, 0.52)*/;
}