<nav class="navbar navbar-light bg-white">
  <div class="container-fluid">
    <div class="d-flex justify-content-end w-100">
      <a class="nav-link font-13" routerLink="/therapix/register" routerLinkActive="active">
        <i class="fa fa-file-text" aria-hidden="true"></i> Signup
      </a>
      <a class="nav-link font-13" routerLink="/therapix/login" routerLinkActive="active">
        <i class="fa fa-sign-in" aria-hidden="true"></i> Login
      </a>
      <label for="language-select" class="nav-link font-13 mb-0" >Language</label>
        <select id="language-select" class="btn border font-13" [(ngModel)]="selectedLanguage">
          <option *ngFor="let lang of languages" [value]="lang.value">{{ lang.display }}</option>
        </select>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/therapix/home" routerLinkActive="active">
      <img src="../../../../assets/images/logo.webp" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" routerLink="/therapix/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/therapix/about" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/therapix/resource" routerLinkActive="active">Resource</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/therapix/podcast" routerLinkActive="active">Podcast</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/therapix/blogs" routerLinkActive="active">Blogs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/therapix/contact" routerLinkActive="active">Contact Us</a>
        </li>
    </ul>    
      <button type="button" class="btn btn-primary callBtn" (click)="bookCall()">
        <i class="fas fa-phone mr-1"></i> Book a Call
      </button>
    </div>
  </div>
</nav>