.banner-section{
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    height: 400px;
}
.mask{
    background-color: rgba(0, 0, 0, 0.6);
    height: 400px;
}
.banner-title{
    font-size: 30px;
    color: white;
    font-style: normal;
    font-weight: 500;
}
.profile-content{
    display: inline-grid;
}
.profile-name {
    font-size: 45px;
    line-height: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.profile-role{
    font-size: 18px;
    line-height: normal;
    font-weight: 500;
    margin-bottom: 20px;
    color: #f1aa98;
}
.profile-desc{
    font-size: 18px;
    line-height: normal;
    margin-bottom: 20px;
}
.profile-img{
    border-radius: 100%;
}
.mar-100{
    margin: 100px 0px;
}
@media (max-width: 992px) {
    .mar-100{
        margin: 50px 0px;
    } 
    .profile-img{
        height: 50%;
        width: 50%;
    }
}

@media (max-width: 500px) {
    .mar-100{
        margin: 20px 0px;
    } 
}