<div class="banner-section">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="row m-0 text-center">
                <span class="banner-title">About Us</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-12">
        <div class="row m-0 align-items-center">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 mar-100">
                <div class="profile-content">
                    <span class="profile-name">
                        Banu Balaji
                    </span>
                    <span class="profile-role">
                        Occupational Therapist / CEO & Founder of Therapix
                    </span>
                    <p class="profile-desc">
                        Banu Balaji is a seasoned occupational therapist with over two decades of experience in HSE,
                        Ireland, specialising in
                        working with children and families within the realm of child and adolescent mental health. Banu
                        is a visionary entrepreneur,
                        embarking on an exciting technology to revolutionise support systems for parents and teachers of
                        children of determination,
                        leveraging innovative solutions to enhance accessibility and quality of care. <br><br>
                        Banu also produces and hosts the Therapod podcast where she makes therapeutic information easy
                        to understand and accessible to
                        parents and teachers.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mar-100">
                <div class="text-center">
                    <img class="profile-img"
                        src="../../../../assets/images/profile.webp" alt="" srcset="" height="100%" width="100%">
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mar-100">
                <div class="text-center">
                    <img class="profile-img"
                        src="../../../../assets/images/profile2.webp" alt="" srcset="" height="100%" width="100%">
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 mar-100">
                <div class="profile-content">
                    <span class="profile-name">
                        Dr Micaela Connolly
                    </span>
                    <span class="profile-role">
                        Clinical and Educational Psychologist
                    </span>
                    <p class="profile-desc">
                        Micaela is a senior educational and child psychologist with over 25
                        year's experience of working in disability services, providing psychological support to
                        children and adults. She currently works on an interdisciplinary team
                        in a disability service for children and young people. Micaela's work involves
                        assessment, therapy, training, and the development and implementation of materials
                        and programmes to advance understanding and awareness of autism and ways to
                        support autistic people. <br><br>
                        She is passionate about working in a person-centred, neuroaffirmative, and strengths-focused
                        way. She is a chartered member of the Psychological Society of Ireland.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>